
<div id="top">
<div class="span4">
</div>
<div class="span8">
<div ng-controller="SpicyCtrl">
<button class="btn" ng-click="fetchScore()">Scores</button>
<button class="btn" ng-click="clear()">Clear</button>
<p>
<ul class="score">
<li ng-repeat="s in score | filter:query | orderBy:orderProp" class="thumbnail">
	{{s.values}}</li>
</ul>

</p>
<button class="btn" ng-click="chiliSpicy()">Chili</button>
<button class="btn" ng-click="jalapenoSpicy()">Jalapeño</button>
<p>The food is {{spice}} spicy!</p>
</div>

<div ng-controller="Controller">
<form novalidate class="simple-form">
Name: <input type="text" ng-model="user.name" /><br />
E-mail: <input type="email" ng-model="user.email" /><br />
Gender: <input type="radio" ng-model="user.gender" value="male" />male
<input type="radio" ng-model="user.gender" value="female" />female<br />

 <button class="btn btn-info" ng-click="reset()" ng-disabled="isUnchanged(user)">RESET</button>
<button class="btn btn-warning" ng-click="update(user)" ng-disabled="form.$invalid || isUnchanged(user)">SAVE</button>
</form>

<pre>form = {{user | json}}</pre>
<pre>master = {{master | json}}</pre>
</div>

</div>
</div>