<div class="row" ng-controller="FiltersCtrl">

	<div class="span1"></div>
    <div class="span2" style="margin-top:100px">
      <table id="filterslist" class="table table-bordered">
        <tr id="f{{f._id}}" ng-repeat="f in filters | filter:query | orderBy:orderProp">
        	<td><a ng-click="click(f._id)">{{f.keywords}}</a></td>
        </tr>
      </table>
    </div>

    <a ng-click="refresh()">
          <img id="refresh-image" src="/icons/refresh.png" class="icon"/>
    </a>

    <div id="chart_div" class="span8" style="margin-top: -20px">
    </div>

</div>