<div class="span3">
	<a href="#/charts/{{wid}}"><img src="/icons/chart.png"/></a>
</div>

<div class="span6">
	<form class="form-horizontal">
		<fieldset>
			<legend>Edit Website</legend>
			<div class="control-group">
				<label class="control-label" for="inputEmail">Name</label>
				<div class="controls">
					<input type="text" placeholder="Type something…" value="{{website.nom}}"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputEmail">URL</label>
				<div class="controls">
					<input type="text" placeholder="Type something…" value="{{website.urls[0]}}"/>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-warning">Submit</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>

<div class="span3">
	<form class="form-horizontal">
		<fieldset>
			<legend>Filters&nbsp;<a ng-click="add()"><img class="icon" src="icons/Plus.png"/></a></legend>
			<table id="websiteslist" class="table table-bordered">
				<tr ng-repeat="f in filters | filter:query | orderBy:orderProp" class="thumbnail">
					<td><a ng-click="click(f._id)">{{f.keywords}}</a></td>
					<td><a ng-click="edit(f._id)"><img src="icons/edit.png" class="icon"/></a></td>
					<td><a ng-click="delete(f._id)"><img src="icons/Minus.png" class="icon"/></a></td>
					<td><a href="#/charts/{{wid}}/{{f._id}}"><img src="icons/chart.png" class="icon"/></a></td>
				</tr>
			</table>
		</fieldset>
	</form>
</div>