<div class="span3"></div>

<div ng-controller="WebsiteCtrl" class="span9">

	<ul class="nav nav-tabs nav-stacked">
		<li class="disabled"><a href="#">Websites</a></li>
	</ul>

	<ul id="websiteslist" class="nav nav-pills nav-stacked">
		<li class="form-inline" ng-repeat="s in sites | filter:query | orderBy:orderProp">
			<a href="#/charts/{{s._id}}">
				{{s.nom}}<span style="left-padding:20px; font-size:smaller">[{{s.urls[0]}}]</span>
			</a>
			<a href="#/edit/{{s._id}}">
				<img src="/icons/edit.png" height="16" width="16"/>
			</a>
		</li>		 
	</ul>

</div>