<div class="span3"></div>

<div ng-controller="WebsiteCtrl" class="span9">

	<ul class="nav nav-tabs nav-stacked">
		<li class="disabled"><a href="#">My Websites</a></li>
	</ul>

	<table id="websiteslist" class="table table-bordered">
		<tr ng-repeat="s in sites | filter:query | orderBy:orderProp">
			<td>
				<a href="#/charts/{{s._id}}">
					{{s.nom}}
				</a>
			</td>
			<td>
				{{s.urls[0]}}
			<td>
				<a href="#/edit/{{s._id}}">
					<img src="/icons/edit.png" class="icon"/>
				</a>
			</td>
			<td>
				<a ng-click="refresh(s._id)">
					<img id="refresh-image" src="/icons/refresh.png" class="icon"/>
				</a>
			</td>
			<td>
				<a ng-click="delete(s._id)">
					<img src="/icons/Minus.png" class="icon"/>
				</a>
			</td>
			
		</tr>		 
	</table>

</div>